@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    color: #5f5f5f;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 2px;
}


/*******Common*******/
h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h1:after{
    display: block;
    height: 3px;
    background-color: #7B9A9F;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

h2, h3{
    text-transform: uppercase;
}

section{
    padding-top: 40px;
    padding-bottom: 40px;
}

section>div{
    max-width: 1240px;
    margin: 0 auto;z
    padding: 0 40px;
}


/*******About Me*******/
section h1 {
    text-align: center;
    margin-bottom: 20px;
}

.personal-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;   
    margin-top: 30px;
}

.personal-wrapper .resume{
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    text-align: center;
}
.photo img{
    width: 250px;
    height: auto;
}
.personal-wrapper .info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-wrapper .info ul{
    list-style: none;
    width: 100%;
}

.personal-wrapper .info li{
    display: flex;
    align-items: center;
}

.personal-wrapper .info li:not(:last-child){
    margin-bottom: 10px;
}

.info li i {
    width: 20px;
    padding: 5px;
    background-color: #7b9a9f;
    color: #FFF;
    margin-right: 6px;
    text-align: center;
}


/*******Experience*******/
.section-experience{ 
    background-color: #F9F9F9;
}

.exp-wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
  padding: 20px;
  border-bottom: 1px solid #bbb;
}

.exp-wrapper:last-child{
    border-bottom: none;
}

.date-company{
    text-align: right;
    border-right: 1px solid #bbb;
    padding: 20px;
}

.date-company h3, .job-description h3, .university h3, .course h3{
    color: #7B9A9F;
    margin-bottom: 10px;
}

.date-company h4, .university h4{
    color: #8CB1B9;
    font-weight: 400;
    text-transform: uppercase;
}

.job-description{
    padding: 20px 0;
}

.job-description ul{
    list-style: none;
}

/*******Education*******/
.education-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-column-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
    padding: 20px;
}

.education-wrapper img{
    max-width: 100px;
    float: right;
}

.university{
    text-align: right;
}

.university h3{
    color: #7B9A9F;
}

.university h4{
    
}

.section-separator{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/separator.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/separator.jpeg);
    background-size: cover;
    height: 350px;
    color: #fff;
    background-attachment: fixed;
}

/*
Cinza: #707C7C
Cinza verde: #899999
Verde: #7B9A9F
Verde mais claro: #8CB1B9;
Branco cinza: #F9F9F9
*/