/*-------------
 	General
-------------*/
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/***
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
***/



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 20px;
	font-weight: 300;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin: 80px auto 80px;
}

.sec-content{
	max-width: 1024px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}


section h3.title{
	color: #6e808a; 
	margin-bottom: 35px;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
    letter-spacing: 8px;
}

section h1,
section h2,
section h3{
	color: #6e808a;
}

@media (max-width: 600px){

	section{
		padding: 40px 30px;
	}

	section h3.title{
		font-size: 26px;
	}

}





/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header > a,
header > a:visited,
header > a:link {
	font-family: 'Quicksand', sans-serif;
	width: 80px;
	height: 80px;
	display: flex; 
	align-items: center;
	justify-content: center;
	border: 4px solid #fff;
	border-radius: 50%;
	background-color: rgba(33, 150, 243, 0.3);
}

header > a:hover {
	background-color: rgba(33, 150, 243, 0.7);
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;
}

header nav li:last-child{
	margin-right: 0;	
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}



/*----------------
 	Me Section
----------------*/

.about-me{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #6e808a;
	text-align: center;
	background-color: #D1F1F1;
	justify-content: space-between;
	padding: 80px 0 0;
}

.sky{
	position: relative;
	width: 100%;
	max-width: 1024px;
	z-index: 0;
}

.sky .cloud-1,
.sky .cloud-2{
	background: url(cloud.png);
	background-position: 100px 0;
	
}


.cloud-1{
	left: 100px;
	top: 0;
}

.cloud-2{
	right: 100px;
	top: 50px;
}

.about-me .ground{
	position: relative;
	width: 100%;
	height: 100px;
}

.about-me img.me-cartoon {
    position: absolute;
	bottom: 70px;
	left: 0;
    right: 0;
    margin: 0 auto;
	max-width: 250px;
	
	animation: float 6s ease-in-out infinite;
}

.about-me .cloud {
    max-width: 200px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
	z-index: 0;
	animation: float-cloud 6s ease-in-out infinite;
}
.about-me h1{
	font-family: 'Gloria Hallelujah', cursive;
	margin-bottom: 15px;
	font-size: 40px;
}

.about-me h3{
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 4px;
	margin-bottom: 40px;
}

.about-me a.btn{
	padding: 20px 46px;
}

@keyframes float{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-18px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-cloud{
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@media (max-width: 800px){

	.about-me h1{
		font-size: 30px;
	}

	.about-me h3{
		font-size: 20px;
	}
	.about-me img.me-cartoon{
		bottom: 78px;
		max-width: 210px;
	}

}



/*--------------------
 	Hi-there Section
---------------------*/

.hi-there{
	background-color: #f5f5f5;
}

.hi-there img{
    max-width: 200px;
    border-radius: 50%;
	margin-bottom: 20px;
}

#presentation{
	width: 90%;
	margin: 0 auto;
	line-height: 1.8;
	text-align: center;
	max-width: 700px;
	margin-bottom: 80px;
}

.hi-there .basic-info{
	text-align: center;
	margin-bottom: 80px;
}
.hi-there .basic-info li{
	display: inline-block;
	margin-right: 20px;
}

.hi-there .basic-info li i {
    margin-right: 5px;
    padding: 5px;
    background-color: #d0f1f1;
    width: 30px;
	height: 30px;
	text-align: center;
}

.hi-there .education{
	max-width: 500px;
	margin: 80px auto 0;
}

.experience{
	display: flex;
	max-width: 800px;
	align-items: center;
	margin: 0 auto;
}

.experience> div{
	margin: 20px;
}

.experience-img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	/*background-color: #2196f394;*/
	background: 
    linear-gradient(
		rgba(33, 150, 243, 0.5), 
		rgba(33, 150, 243, 0.5)
    ),
    /* bottom, image */
	url("unl.png") no-repeat;
	background-size: contain; 
}

@media (max-width: 800px){

	#presentation{
		width: 90%;
	}

	.hi-there .basic-info{
		margin-left: 20px;
		text-align: left;
	}

}

@media (max-width:600px){
	
	.hi-there .basic-info li{
		display: block;
		margin-bottom: 10px;
	}

	.education{
		display: flex;
		flex-direction: column-reverse;
	}

	.education div:last-child h3{
		font-size: 18px;
	}
	.education div:first-child h3,
	.education p{
		font-size: 16px;
	}
	
	.education div:last-child p{
		display: none;
	}
}

/*----------------------
 	work-exp Section
----------------------*/

.work-exp{
	background-color: #F4AE75;
}

section.work-exp h3.title{
	color: #f5f5f5;
}

.work-exp .exp li{
    display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.work-exp .exp li div:first-child{
    flex: 1 1 auto;
    text-align: right;
	margin-right: 30px;
	width: 30%;
}

.work-exp .exp li div:last-child{
	flex: 2 1 auto;
	width: 70%;
	border-left: 1px solid #f5f5f5;
	padding-left: 30px;
}
.work-exp .exp li div:last-child h3,
.work-exp .exp li div:first-child h3{
	margin-bottom: 6px;
	color: #f5f5f5;
}
.work-exp .exp li{
	color: #f5f5f5;
}

.work-exp .exp li div:first-child p{
	font-size: 14px;
	
}

@media (max-width: 600px){


	.work-exp .exp li{
		flex-direction: column-reverse;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.work-exp .exp li:not(:last-child){
		border-bottom: 1px solid #f5f5f5;
	}

	.work-exp .exp li div:first-child,
	.work-exp .exp li div:last-child{
		width: 100%;
		text-align: left;
		padding: 0;
		border: none;
	}
	
	.work-exp .exp li div:first-child{
		margin-top: 10px;
	}
	
	.work-exp .exp li div:last-child h3{
		font-size: 20px;
	
	}

	.work-exp .exp li div:first-child h3{
		font-size: 16px;
		
	}

	.work-exp .exp li div p{
		font-size: 16px;
	}



}

/*--------------------
 	Skills Section
--------------------*/

.skills{
	background-color: #7BA1AD;
	color: #f5f5f5;
}

section.skills h3.title{
	color: #f5f5f5;
}

.skills .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.skills .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.skills .author:last-child{
    margin-bottom: 0;
}

.skills-container {
    padding: 0;
    margin: 0;
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.skill-item {
    background: #48646d;
    margin: 5px;
    flex: 1 0 150px;
    height: 150px;
	align-items: center;
	max-width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 20px;
}


@media (max-width: 600px){

	.skill-item {
		height: 70px;
		max-width: none;
		font-size: 18px;
	}

}



/*---------------------
 	Languages Section
---------------------*/

.languages{
	background-color: #545454;
}

section.languages h3.title{
	color: #f5f5f5;
}

.languages .skills-container {
    padding: 0;
    margin: 0;
    display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}
.languages .skill-item {
	background: #7BA1AD;
	color: #f5f5f5;
    margin: 5px;
    flex: 1 0 150px;
    height: 150px;
	align-items: center;
	max-width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 20px;
}


@media (max-width: 600px){
	.languages .skills-container {
		flex-wrap: wrap;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}